.tooltip {
    position:absolute;
    z-index:9999;
    display:block;
    color:#fff;
    font-size:14px;
    line-height:1.2;
}

.tooltip__body {
    position:relative;
    top:-15px;
    padding:10px;
    background:#5e696d;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -ms-border-radius:3px;
    border-radius:3px;
    -webkit-box-shadow:0 2px 4px rgba(0, 0, 0, .5);
    -moz-box-shadow:0 2px 4px rgba(0, 0, 0, .5);
    -ms-box-shadow:0 2px 4px rgba(0, 0, 0, .5);
    box-shadow:0 2px 4px rgba(0, 0, 0, .5);
}

.tooltip__body:after {
    content:"";
    position:absolute;
    bottom:-5px;
    left:50%;
    display:block;
    width:0;
    height:0;
    margin-left:-5px;
    border-width:5px 5px 0 5px;
    border-style:solid;
    border-color:#5e696d transparent transparent transparent;
}